.navbar {
    background-color: indigo;
}


.carousel-item  
    height: 50rem;
    max-width: 90vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
 
 